.env
bootstrap/cache/*
node_modules
public/css
public/images/*
!public/images/*/
public/js
public/mix-manifest.json
storage/debugbar/*
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
vendor
