/node_modules
/bootstrap/cache
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/vendor
.env
.env.backup
.rnd
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js
public/css
public/mix-manifest.json
