@import 'colors';

html, body {
    background-color: $dark-dough;
}

[v-cloak] {
    display: none;
}

a {
    word-break: break-all;
    color: $pizzerro-bordero;
}

.app-loader {
    display: none;
}
body.is-loading .app-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

// quill
.quill-editor {
    .ql-toolbar {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        text-align: right;
        .ql-formats {
            margin-right: 0 !important;
        }
    }
    .ql-container {
        min-height: 150px;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        background: #fff;
        .ql-editor {
            min-height: 150px;
            max-height: 500px;
            padding: 15px;
            &.problem-page-content {
                height: auto;
                padding: 0;
            }
            &.ql-blank::before {
                font-style: normal !important;
            }
        }
    }
    &.is-invalid {
        .ql-toolbar,
        .ql-container {
            border-color: #cd1b6f;
        }
        .ql-container .ql-editor {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23cd1b6f' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23cd1b6f' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.4em + 0.1875rem) top 0.25rem;
            background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
        }
    }
}

.ql-editor.frontend-page {
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
}

body,
.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.is-loading {
    background: #f1f2f3;
}

.main {
    flex: 1;
    background-color: $dark-dough;
}

footer {
    width: 100%;
    color: #333;
    background-color: grey;
}

@media (max-width: 992px) {
    footer p {
        margin: 0;
    }
    footer .paragraph-white {
        margin: 0;
    }
}

#cover {
    background: url('../img/background_spicy.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.card {
    padding: 50px 30px;
    background: $dark-dough;
    margin: auto;

}

.navbar {
    @media (max-width: 991px) {
        background-color: $dark-dough !important;
    }
    .navbar-collapse {
        @media (max-width: 991px) {
            background-color: $light-dough;
        }
    }
}

.navbar-light {
    .navbar-toggler {
        border-color: $light-dough;
        border-width: 2px;
        background-color: $light-dough;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(243, 202, 147, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
}

.product {
    background-color: $light-dough;
    border-radius: 10px;
}

.btn-primary {
    background-color: $pizzerro-bordero;
    border-color: $pizzerro-bordero;
    border-width: 2px;
}

.form-control {
    background-color: $light-dough;
    border: unset;
}

.site-footer {
    background-color: $light-dough;
    color: $pizzerro-bordero;
    a {
        cursor: pointer;
        color: inherit;
        font-weight: bold;
        &:hover {
            color: white;
        }
    }
}

.rating {
    background: $light-dough;
    padding: 0.75rem;
    border-radius: 0.5rem;
    .rating-name {
        color: #4B4E53;
        font-size: 15px;
        font-weight: bold;
        font-style: oblique;

    }
    .rating-value {
        color: $pizzerro-bordero;
        font-weight: bold;
        font-size: 13px;
    }
    .rating-desc {
        font-size: 13px;
        color: $pizzerro-bordero;
        margin-top: 0.5rem;
        padding-left: 0.25rem !important;
        font-style: italic;
    }
    [class^='col-'] {
        padding: unset;
    }
}

.product-desc {
    background-color: $light-dough;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 13px;
    color: #4B4E53;

}

.cart {
    background-color: $light-dough;
    border-radius: 0.5rem;
    .cart-item {
        padding: 0.75rem 0.75rem 0 0.75rem;
        position: relative;

        .cart-delete {
            position: absolute; 
            right: 10px;
            top: 10px;
        }
        .cart-hr {
            border-bottom: 2px solid $dark-dough;
            padding-top: 0.75rem;
            margin-bottom: 0.25rem;
        }
        &:last-of-type .cart-hr {
            display: none;
        }
    }
}

.payu-btn {
    background: url(https://poland.payu.com/wp-content/uploads/sites/14/2020/05/PAYU_LOGO_LIME-990x640.png) no-repeat, $light-dough;
    border-radius: 0.5rem;
    border: none;
    background-size: contain;
    display: block;
    width: 350px;
    height: 100px;
    margin: 0 auto;
}

.container.bg {
    background-color: $dark-dough;

    .content-list {
        background-color: $light-dough;
        border-radius: 0.5rem;

        .content-list-header {
            background-color: rgba(0, 0, 0, 0.05);
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
        }

        tr, th, td {
            border-color: $dark-dough;
            border-width: 2px;
        }

        .table thead th {
            border-bottom: unset;
        }
        .table tr:first-of-type th {
            border-top: unset;
        }
    }

    .btn-menu {
        border: unset;
        border-bottom: 2px solid $dark-dough;

        &:first-of-type {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
        &:last-of-type {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            border: unset;
        }
    }
    
    .info-box {
        background-color: $light-dough;
        border-radius: 0.5rem;
        padding: 10px 15px;
    }
}